<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
  <title>flickr Client: Fotoinformationen hinzufügen</title>
</head>

<body>

<div class="header">

</div>

<div class="nav">
  <ul>
    <li><a href=<%= url('/login') %>>Login</a></li>
    <li><a href=<%= url('/logout') %>>Logout</a></li>
    <li><a href=<%= url('/gallery') %>>Gallery</a></li>
    <li><a href=<%= url('/photosets') %>>Album</a></li>
    <li><a href=<%= url('/upload') %>>Upload</a></li>
    <li><a href=<%= url('/create_photoset') %>>Create Album</a></li>
  </ul>
</div>
<p>&nbsp;</p> <!-- kleiner Absatz zwischen Menü und Foto -->
<div class="content">
  
  <% @photosInfos.each do |i|   
        
       photoid = i['id']
       serverid = i['server']
       farmid = i['farm']
       secret = i['secret']  	 
       @picurl = "http://farm#{farmid}.staticflickr.com/#{serverid}/#{photoid}_#{secret}_m.jpg"
       @photohref="/photo/#{photoid}"
       @addphoto="/add/#{@photosetId}/#{photoid}"
  %>
     <a href=<%= url(@photohref) %>><img src="<%= @picurl %>"></a> <a style="color: white;" href=<%= url(@addphoto) %>>add</a>
  <% end %>
      
  

</div>

</body>

</html




