<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
</head>

<body>

<div class="header">

</div>

<div class="nav">
  <ul>
    <li><a href=<%= url('/login') %>>Login</a></li>
    <li><a href=<%= url('/gallery') %>>Gallery</a></li>
    <li><a href=<%= url('/photosets') %>>Album</a></li>
    <li><a href=<%= url('/create_photoset') %>>Album</a></li>
  </ul>
</div>

<div class="content">
 
  <% @photosets.each do |i|   
        
       @title = i['title']
       @description = i['description']
       photosetid = i['id']
       primary = i['primary']
       serverid = i['server']
       farmid = i['farm']
       secret = i['secret']  	 
       @picurl = "http://farm#{farmid}.staticflickr.com/#{serverid}/#{primary}_#{secret}_m.jpg"
       @photohref="/photoset/#{photosetid}"
  %>
     <a href=<%= url(@photohref) %>><img src="<%= @picurl %>"></a> <h1><%= @title %></h1>  <p><%= @description %></p>
  <% end %>

</div>


</body>

</html




