<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  <title>flickr Client: Album anzeigen</title>
</head>

<body>

<div class="header">

</div>

<div class="nav">
  <div id="menu">
    <ul>
      <li class="topmenu"><a href=<%= url('/login') %>>Login</a></li>
      <li class="topmenu"><a href=<%= url('/logout') %>>Logout</a></li>
      <li class="topmenu"><a href=<%= url('/gallery') %>>Gallery</a>
        <ul>
          <li class="submenu"><a href=<%= url('/upload') %>>Upload</a></li>
        </ul>	      
      </li>
      <li class="topmenu"><a href=<%= url('/photosets') %>>Album</a>
      <ul>
         <li class="submenu"><a href=<%= url('/create_photoset') %>>Create Album</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>


<div class="clear"></div>

<p>&nbsp;</p> <!-- kleiner Absatz zwischen Menü und Foto -->

<p class="content">
 
  <% @photosets.each do |i|   
        
       @title = i['title']
       @description = i['description']
       photosetid = i['id']
       primary = i['primary']
       serverid = i['server']
       farmid = i['farm']
       secret = i['secret']  	 
       @picurl = "http://farm#{farmid}.staticflickr.com/#{serverid}/#{primary}_#{secret}_m.jpg"
       @photohref="/photoset/#{photosetid}"
       @photosetdelete="/delete_photoset/#{photosetid}"
  %>
     <a href=<%= url(@photohref) %>><img src="<%= @picurl %>">
     <button type="submit" onclick="window.location.replace('<%= url(@photosetdelete) %>')"> Album löschen </button>
     </a> 
     <p>
     <div style="font-weight:bold;"><%= @title %></div>  
     <br /><%= @description %>
     </p>
  <% end %>

</p>


</body>

</html




