<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
  <title>flickr Client: Album erstellen</title>
</head>

<body>

<div class="header">

</div>

<div class="nav">
  <ul>
    <li><a href=<%= url('/login') %>>Login</a></li>
    <li><a href=<%= url('/logout') %>>Logout</a></li>
    <li><a href=<%= url('/gallery') %>>Gallery</a></li>
    <li><a href=<%= url('/photosets') %>>Album</a></li>
    <li><a href=<%= url('/upload') %>>Upload</a></li>
    <li><a href=<%= url('/create_photoset') %>>Create Album</a></li>
  </ul>
</div>
<p>&nbsp;</p> <!-- kleiner Absatz zwischen Menü und Foto -->
<div class="content">
 
<form action="/create_photoset" method="post">
  <label for="post_title">Titel:</label><br />
  <input id="post_title" name="title" type="text" value="Title" size="35" maxlength="254"/>
  <br />

  <label for="post_file">Schlüsselfoto:</label><br />
  <select id="post_file" name="primaryPicture">
  <% @photosInfos.each do |i|  %>        
     <option value=<%=i['id']%>><%=i['title']%></option>
  <% end %>
  </select>
  <br />

  <label for="post_description">Beschreibung:</label><br />
  <textarea id="post_description" name="description" rows="5" cols="33" placeholder="Mehr dazu schreiben"> </textarea>
  <br />
 
  <input type="submit" value="Album mit Foto erstellen" />
</form> 

</div>


</body>

</html




