<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  <title>flickr Client: Login</title>
</head>

<body>

<div class="header">

</div>

<div class="nav">
  <div id="menu">
    <ul>
      <li class="topmenu"><a href=<%= url('/login') %>>Login</a></li>
      <li class="topmenu"><a href=<%= url('/logout') %>>Logout</a></li>
      <li class="topmenu"><a href=<%= url('/gallery') %>>Gallery</a>
        <ul>
          <li class="submenu"><a href=<%= url('/upload') %>>Upload</a></li>
        </ul>	      
      </li>
      <li class="topmenu"><a href=<%= url('/photosets') %>>Album</a>
      <ul>
         <li class="submenu"><a href=<%= url('/create_photoset') %>>Create Album</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>


<div class="clear"></div>

<p>&nbsp;</p> <!-- kleiner Absatz zwischen Menü und Foto -->

<div class="content">
  
 <form name="Form" action="/login" method="post" > 
  <!-- <label for="post_title"></label> Name -->
    <input id="post_title" name="Name" type="text" placeholder="susi.sorglos61" size="35" maxlength="254" required="required"/> Name <!-- onsubmit="return validateForm()" -->
  <br />
  <!-- <label for="post_description">Passwort: </label> &nbs -->
    <input id="post_title" name="Passwort" type="password" value="JanDuhr110" size="35" maxlength="254" required="required"/> Passwort
  <br />
 
  <input type="submit" value="Login!" />
</form> 

</div>


</body>

</html




