<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
  <title>flickr Client: Einzelnes Foto im Detail ansehen</title>
<script>
$(document).ready(function(){

   $('h1').css('color','red');

 });
</script>

</head>

<body>

<div class="header"></div>

<div class="nav">
  <div id="menu">
    <ul>
      <li class="topmenu"><a href=<%= url('/login') %>>Login</a></li>
      <li class="topmenu"><a href=<%= url('/logout') %>>Logout</a></li>
      <li class="topmenu"><a href=<%= url('/gallery') %>>Gallery</a>
        <ul>
          <li class="submenu"><a href=<%= url('/upload') %>>Upload</a></li>
        </ul>	      
      </li>
      <li class="topmenu"><a href=<%= url('/photosets') %>>Album</a>
      <ul>
         <li class="submenu"><a href=<%= url('/create_photoset') %>>Create Album</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>


<div class="clear"></div>

<p>&nbsp;</p> <!-- kleiner Absatz zwischen Menü und Foto -->

<p class="content">
   <%        
     photoid = @photo['id']
     serverid = @photo['server']
     farmid = @photo['farm']
     secret = @photo['secret']  	 
     @picurl = "http://farm#{farmid}.staticflickr.com/#{serverid}/#{photoid}_#{secret}_b.jpg"   
     @photohref="/deleted/#{photoid}"
     @photoedit="/edit_photo/#{photoid}"
   %>
<img src="<%= @picurl %>">
<p>
	<button type="submit" onclick="window.location.replace('<%= url(@photohref) %>')"> Foto löschen </button>
        <button type="submit" onclick="window.location.replace('<%= url(@photoedit) %>')"> Foto bearbeiten </button>
</p>	
<h1><%= @photo.title %></h1>
<p><%= @photo.description %></p>
</p>


</body>

</html




