<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
<script>
$(document).ready(function(){

   $('h1').css('color','red');

 });
</script>

</head>

<body>

<div class="header"></div>

<div class="nav">
  <ul>
    <li><a href=<%= url('/login') %>>Login</a></li>
    <li><a href=<%= url('/gallery') %>>Gallery</a></li>
    <li><a href=<%= url('/album') %>>Album</a></li>
  </ul>
</div>

<div class="content">
   <%        
     photoid = @photo['id']
     serverid = @photo['server']
     farmid = @photo['farm']
     secret = @photo['secret']  	 
     @picurl = "http://farm#{farmid}.staticflickr.com/#{serverid}/#{photoid}_#{secret}_b.jpg"   
     @photohref="/deleted/#{photoid}"
   %>
<img src="<%= @picurl %>">
<a style="color: red;" href=<%= url(@photohref) %>>Delete</a>
<h1><%= @photo.title %></h1>
<p><%= @photo.description %></p>
</div>


</body>

</html




